body {
  background: rgba(191, 191, 191, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-image: url("imagenes/banner1.png");
  background-position: center;
  background-size: cover; */
}

main {
  display: flex;
}

/* CSS Header */

.contenedor {
  display: flex; /* Utilizar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
}

div.HospedaSphere {
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  padding: 20px; /* Espaciado interno para el contenido */
  border-radius: 10px; /* Redondear los bordes */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
  height: 25px; /* Alto del div */
}

div.HospedaSphere h1 {
  position: relative;
  top:-18px;
  color:  rgba(191, 191, 191, 1);
  max-width: 100%; /* Ancho máximo del h1 */
  width: auto; /* Ocupar el 100% del ancho disponible */
  text-align: center; /* Centrar el texto */
  line-height: 0; /* Ajustar el interlineado */
  margin-bottom: 1%; /* Espaciado inferior */
  letter-spacing: 5px; /* Espacio entre letras */
}

div.HospedaSphere p {
  position: relative;
  top: -20px;
  color: rgba(191, 191, 191, 1);
}

div.imagenLogo {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 110px; /* Ancho del logo */
  height: 110px; /* Alto del logo */
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  border-radius: 100%; /* Redondear el logo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
}


img.logo {
    display: block;
    margin: 0 auto;
}

/* CSS Menu Principal  */


section.menuPrincipal {
  background-color: rgb(15, 63, 58, 1);
  padding: 0.5%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  /*width: 60%;
  max-width: 1000px;
  margin: 10px auto; */
}

.menuPrincipal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.menuPrincipal ul li a {  
  margin-right: 20px;
  font-weight: bold;
  color: rgba(191, 191, 191, 1);
  text-decoration: none;
}

.menuPrincipal ul li:last-child {
  margin-right: 0;
}


.menuPrincipal ul li a:hover {
  color: rgb(255, 152, 18);
  transition: 0.5s;
}

.menuPrincipal ul li a:active {
  color: rgb(255, 152, 18);
}


/* CSS Imagenes y texto */

section.medio {
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  margin: 10px 18%; /* Centro horizontalmente */
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;    
}

.contenedorImagenes {
  perspective: 1000px;
}

.fondoContenedor {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 2px;
}

figure {
  height: 300px auto;
  width: 300px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.imagen-contenedor {
  margin: 10px;
  max-width: 200px;
  text-align: center;
}

.imagen-contenedor img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

article h2 {
  font-size: 30px;
  letter-spacing: 6px;
  color: rgba(191, 191, 191, 1);
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(18, 114, 105, 1);
  width: 100%;
  border-radius: 20px;
  
}

figcaption {
  background-color: rgba(191, 191, 191, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  width: 300px;
  height: 300px;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption h3 {
  flex-direction: column;
  font-size: 25px;
  color: rgba(18, 114, 105, 1);
  text-align: center;
  margin-bottom: 10px;
}

figcaption p {
  position: relative;
  bottom: 40px;
  font-size: 14px;
  color: rgba(75, 89, 87, 1);
  text-align: justify;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  word-spacing: normal;
}

figcaption p::first-letter {
  font-size: 300%;
  float: left;
  margin-right: 5px;
  line-height: 1;
}


figcaption a {
  color: rgba(191, 191, 191, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(15, 63, 58, 1);
  border-radius: 5px;
  padding-inline: 5px;
  text-decoration: none;
}

figcaption a:hover {
  background-color: rgba(18, 114, 105, 1);
  transition: 0.5s;
}

figcaption h3 {
  position: relative;
  top: -30px;
  font-style: italic;
  text-transform: capitalize;
}

/* Footer */

footer a img {
  width: 20px;
  height: 20px;
}

footer a.Facebook {
  position: relative;
  top: 45.9px;
  right: 40px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Instagram {
  position: relative;
  top: 26px;
  right: 74px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Twitter {
  position: relative;
  top: 6px;
  right: 110px;
  display: flex;  
  justify-content: flex-end; 
}

footer p {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 10px; 
  padding: 2px;
}

p.derechos {
  font-size: 12px;
  color: rgba(191, 191, 191, 1);

}

/* PAGINA DE CONTACTO */

section .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

section h3.contacto {
  color: rgba(191, 191, 191, 1);
  font-size: 25px;
  margin: -3px;
}
section p.intro {
  margin: 0.5px;
  margin-bottom: 5px;
  color: rgba(191, 191, 191, 1);
  
}

article label.contacto {
  color: rgba(191, 191, 191, 1);
  font-size: 20px;
  margin-bottom: 5px;
}

.botonEnviar {
  background-color: rgba(15, 63, 58, 1);
  color: rgba(191, 191, 191, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botonEnviar:hover {
  background-color: rgb(75, 89, 87, 1);
  transition: 0.5s;
}

.preferencia {
  background-color: rgba(15, 63, 58, 1);
  color: rgba(191, 191, 191, 1);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}



/* PAGINA DE INFORMACIÓN LINKEDINUCIONAL */

article.institucional {
  background-color: rgba(75, 89, 87, 1);
}

article a.institucional {
  color: rgb(255, 152, 18);
  text-decoration: none;
  font-weight: bold;
}

article a:hover.institucional {
  text-decoration: underline;
}

article h4.institucional {
  color: rgba(191, 191, 191, 1);
  font-size: 20px;
  margin-bottom: 5px;
  background-color: rgba(18, 114, 105, 1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-inline: 50px;
  align-self: center;
}

article p.institucional {
  color: rgba(191, 191, 191, 1);
  margin-bottom: 5px;
}

article li.institucional {
  color: rgba(191, 191, 191, 1);
  margin-bottom: 5px;
}
article ul.institucional {
  margin-left: 20px;
  margin-bottom: 10px;
  color: rgba(191, 191, 191, 1);
}


/* equiipo de trabajo */

.equipo {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
  

.equipoContenedor {
  flex-wrap: wrap;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  margin: 10px;
}

/* PAGINA DE INFORMACION ESTILO TARJETAS */

.tarjeta {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 20px;
}

.tarjeta .portada {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s
}

.tarjeta .adelante {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.tarjeta .adelante img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta .adelante h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}

.tarjeta .atras {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 44, 54);
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; 
  box-shadow: 0 5px 10px #000;
}

.tarjeta .atras .link {
  border-top: 1px solid rgb(241, 241, 241);
  height: 50px;
  line-height: 50px;
}

.tarjeta .atras h3 {
  white-space: nowrap;
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(241, 241, 241);
  height: 50px;
  line-height: 50px;
}

.tarjeta .atras ul {
  letter-spacing: 1px;
  margin: 5px;
  margin-left: -40px;
  margin-bottom: 10px;

}

.tarjeta:hover .adelante {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

/* MENU LOGIN */

.todo { /* mover al lugar correcto */
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
}

.contenedorLogin {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: auto; 
  height: 100px;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 6px;
}

.usuarioLogin {  
  background-color: rgba(18, 114, 105, 1);
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px;
}

.usuarioLogin label {
  color: rgba(191, 191, 191, 1);
  margin-inline: 1px; /* Espacio entre el label y el input */
}

.contraseñaLogin {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding: 4px;
}

.contraseñaLogin label {
  color: rgba(191, 191, 191, 1);
}

.izquierda {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.usuarioCR {
  display: flex;
  justify-content: space-between;
  margin-inline: 5%;
}

.izquierda a.login {
  color: rgba(191, 191, 191, 1);
  text-decoration: none;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.izquierda a:hover {
  color: rgb(255, 152, 18);
  transition: 0.5s;
}

.contraseñaLogin input {
  margin-left: 10px;
  width: 160px;
  border-radius: 10px;
  border: none;
}

.usuarioLogin input {
  margin-left: 10px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

.contenedorAvatar {
  display: flex;
  margin-top: 10px;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 6px;
}

.avatar {
  background-color: rgb(255, 152, 18);
  padding: 5px;
  border-radius: 30%;
  height: 100px;
  width: 100px;
}

.contenedorInfo {
  margin: -10px auto;
  margin-left: 5px;
  color: rgba(191, 191, 191, 1);
  font-weight: bold;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.contenedorInfo p {
  font-size: 12px;
  margin-top: -20px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

}

.contenedorInfo h3 {
  color: rgba(191, 191, 191, 1);
}

.contenedorInfo a.edicionUsuario {
  color: rgba(191, 191, 191, 1);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);  
}

.contenedorInfo a.edicionUsuario:hover {
  color: rgb(255, 152, 18); 
}
 
/* FILTRO ALOJAMIENTOS */

.filtroAlojamientos {
  display: flex;
  flex-direction: column;
  right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  height: auto;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.filtroAlojamientos h2 {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 20px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  color: rgba(191, 191, 191, 1);
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.filtroAlojamientos a {
  margin: 3px;
  color: rgba(191, 191, 191, 1);
  margin-right: 10px;
  text-decoration: none;
  
}

.filtroAlojamientos a:hover{
  color: rgb(255, 152, 18);
  transition: 0.5s;
}

.filtroAlojamientos img {
  filter: brightness(1) invert(1);
  margin: -5px 10px;
  width: 20px;
  height: 20px;
}

.filtroAlojamientos a:hover img {
  filter: brightness(1) invert(0) sepia(1) saturate(5) hue-rotate(30deg);
  transition: 0.5s; 
}




/* Color Theme Swatches in RGBA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-rgba { color:   rgba(18, 114, 105, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-rgba { color: rgba(15, 63, 58, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-rgba { color: rgba(137, 165, 162, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-rgba { color: rgba(75, 89, 87, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba { color: rgba(191, 191, 191, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba {color: rgb(241, 241, 241), rgb(235, 66, 15)}

/* SACAR UNDERLINE */