body {
  background: rgba(191, 191, 191, 1);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;  
}

.contenedorBody {
  background-color: blueviolet;
  width: 60%;
}

/* CSS Header */

.contenedor {
  display: flex; /* Utilizar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
}

.login a {
  position: fixed;
  top: 10px;
  right: 10px;
  color: rgba(191, 191, 191, 1);
  background-color: rgba(15, 63, 58, 1);
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.imagenLogin {
  position: relative;
  top: 2px;
  display: inline-flex;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

div.HospedaSphere {
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  padding: 20px; /* Espaciado interno para el contenido */
  border-radius: 10px; /* Redondear los bordes */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
  height: 25px; /* Alto del div */
}

div.HospedaSphere h1 {
  position: relative;
  top:-18px;
  color:  rgba(191, 191, 191, 1);
  max-width: 100%; /* Ancho máximo del h1 */
  width: auto; /* Ocupar el 100% del ancho disponible */
  text-align: center; /* Centrar el texto */
  line-height: 0; /* Ajustar el interlineado */
  margin-bottom: 1%; /* Espaciado inferior */
  letter-spacing: 5px; /* Espacio entre letras */
}

div.HospedaSphere p {
  position: relative;
  top: -20px;
  color: rgba(191, 191, 191, 1);
}

div.imagenLogo {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 110px; /* Ancho del logo */
  height: 110px; /* Alto del logo */
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  border-radius: 100%; /* Redondear el logo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
}


img.logo {
    display: block; /* Centrar el logo */
    margin: 0 auto; /* Centrar el logo */
}

/* CSS Menu Principal  */


nav.menuPrincipal {
  background-color: rgb(15, 63, 58, 1);
  padding: 0.5%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex; /* Usar flexbox para centrar */
  /*width: 60%;
  max-width: 1000px;
  margin: 10px auto; */
}

.menuPrincipal ul {
  list-style-type: none; /* Quitar viñetas de la lista */
  padding: 0; /* Quitar espaciado interno de la lista */
  margin: 0; /* Quitar margen externo de la lista */
  display: flex; /* Utilizar flexbox para el diseño */
  width: 100%;
}

.menuPrincipal ul li a {  
  margin-right: 20px; /* Margen derecho entre elementos del menú */
  font-weight: bold;
  color: rgba(191, 191, 191, 1); /* Color de texto blanco */
  text-decoration: none; /* Quitar subrayado de los enlaces */
}

.menuPrincipal ul li:last-child {
  margin-right: 0; /* Quitar margen derecho del último elemento */
}


a:hover.menuPrincipal {
  color: rgb(18, 114, 105, 1);
  transition: 0.5s;
}

/* CSS Imagenes y texto */

article {
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));

  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin: 10px auto; /* Margen automático en la parte superior e inferior y centrado horizontalmente */
  max-width: 1000px; /* Ancho máximo para evitar que el artículo se extienda demasiado */
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
/*  background-image: url("imagenes/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  */
}

.contenedorImagenes {
  perspective: 1000px;
}

.fondoContenedor {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 2px;
}

figure {
  height: 300px auto;
  width: 300px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.imagen-contenedor {
  margin: 10px;
  max-width: 200px; /* Ancho máximo para cada imagen */
  text-align: center;
}

.imagen-contenedor img {
  max-width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  width: 200px;
  height: 200px; /* Se ajusta la altura automáticamente */
  border-radius: 10px;
}

article h2 {
  font-size: 30px;
  letter-spacing: 6px;
  color: rgba(191, 191, 191, 1);
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(18, 114, 105, 1);
  width: 100%;
  border-radius: 20px;
  
}

figcaption {
  background-color: rgba(191, 191, 191, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  width: 300px;
  height: 300px;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption h3 {
  flex-direction: column;
  font-size: 25px;
  color: rgba(18, 114, 105, 1);
  text-align: center;
  margin-bottom: 10px;
}

figcaption p {
  position: relative;
  bottom: 40px;
  font-size: 14px;
  color: rgba(75, 89, 87, 1);
  text-align: justify;
  line-height: 1.5; /* Espaciado entre líneas */
  max-height: 100px; /* Altura máxima antes de cortar */
  overflow: hidden; /* Quitar texto sobrante */
  word-spacing: normal; /* Espaciado de palabras */
}

figcaption p::first-letter {
  font-size: 300%; /* Tamaño de la primera letra */
  float: left; /* Hace que la letra flote a la izquierda */
  margin-right: 5px; /* Margen derecho entre el texto y la letra */
  line-height: 1; /* Espaciado entre líneas */
}


figcaption a {
  color: rgba(191, 191, 191, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(15, 63, 58, 1);
  border-radius: 5px;
  padding-inline: 5px;
  text-decoration: none;
}

figcaption a:hover {
  background-color: rgba(18, 114, 105, 1);
  transition: 0.5s;
}

figcaption h3 {
  position: relative;
  top: -30px;
}

/* Footer */

footer a img {
  width: 20px;
  height: 20px;
}

footer a.Facebook {
  position: relative;
  top: 45.9px;
  right: 40px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Instagram {
  position: relative;
  top: 26px;
  right: 74px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Twitter {
  position: relative;
  top: 6px;
  right: 110px;
  display: flex;  
  justify-content: flex-end; 
}

footer p {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 10px; 
  padding: 2px;
}

p.derechos {
  font-size: 12px;
  color: rgba(191, 191, 191, 1);

}

/* Color Theme Swatches in RGBA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-rgba { color: rgba(18, 114, 105, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-rgba { color: rgba(15, 63, 58, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-rgba { color: rgba(137, 165, 162, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-rgba { color: rgba(75, 89, 87, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba { color: rgba(191, 191, 191, 1); }

