body {
  background: rgba(191, 191, 191, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-image: url("imagenes/banner1.png");
  background-position: center;
  background-size: cover; */
}

main {
  display: flex;
}

.todo {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
}

/* CSS Header */

header {
  background: rgba(191, 191, 191, 1);
  position: fixed; /* Posicionar el encabezado en la parte superior */
  width: 100%;
  top: 0px; /* Ancho del encabezado */
  z-index: 1; /* Colocar el encabezado por encima de otros elementos */
}

.contenedor {
  display: flex; /* Utilizar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
}

div.HospedaSphere {
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  padding: 20px; /* Espaciado interno para el contenido */
  border-radius: 10px; /* Redondear los bordes */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
  height: 25px; /* Alto del div */
}

div.HospedaSphere h1 {
  position: relative;
  top:-18px;
  color:  rgba(191, 191, 191, 1);
  max-width: 100%; /* Ancho máximo del h1 */
  width: auto; /* Ocupar el 100% del ancho disponible */
  text-align: center; /* Centrar el texto */
  line-height: 0; /* Ajustar el interlineado */
  margin-bottom: 1%; /* Espaciado inferior */
  letter-spacing: 5px; /* Espacio entre letras */
}

div.HospedaSphere p {
  position: relative;
  top: -20px;
  color: rgba(191, 191, 191, 1);
}

div.imagenLogo {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 110px; /* Ancho del logo */
  height: 110px; /* Alto del logo */
  background-color: rgba(15, 63, 58, 1); /* Color de fondo */
  border-radius: 100%; /* Redondear el logo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Sombra */
}


img.logo {
    display: block;
    margin: 0 auto;
}

/* CSS Menu Principal  */


nav.menuPrincipal {
  background-color: rgb(15, 63, 58, 1);
  padding: 0.5%;
  margin-top: 10px;
  margin-inline: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  /*width: 60%;
  max-width: 1000px;
  margin: 10px auto; */
}

.menuPrincipal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.menuPrincipal ul li a {
  display: block;  
  margin-right: 20px;
  color: rgba(191, 191, 191, 1);
  text-decoration: none;
}

.menuPrincipal .login {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.menuPrincipal .login:hover {
  background-color: rgb(255, 152, 18);
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

.menuPrincipal ul li a:hover {
  background-color: rgb(255, 152, 18);
  border-radius: 10px;
  padding-inline: 5px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}



.loginNav {
  box-sizing: border-box;
  color: rgba(191, 191, 191, 1);
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 300s ease;
}

.menuPrincipal .loginNav:hover {
  background-color: rgb(255, 152, 18);
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

.contenedorLoginNav {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.contenedorLoginNav:hover {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

/* Modal */

.contenedorModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.contenedorModal:target { /* mostrar el modal */
  display: flex;
}

/* HASTA ACA */
 /*
.contenedorModal .avatar {
  display: flex;
  border: 1px solid rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
  width: 200px;
}

.contenedorLoginNav-contenido h3 {
  position: absolute;
  margin-top: 252px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}
*/
.contenedorLoginNav-contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgb(255, 255, 255));
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  height: 500px;
  width: 400px;
  padding: 15px;
  border: 1px solid rgba(191, 191, 191, 1);  
}

.btnModal {
  display: flex;
  padding: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btnModal button {
  color: rgba(191, 191, 191, 1);
  font-size: 16px;
  background-color: rgba(18, 114, 105, 1);
  border-radius: 10px;
  border: none;
  margin-inline: 20px;
  padding: 10px;
}

.btnModal button:hover {
  background-color: rgb(255, 152, 18);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.contenedorImgUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px
}

.contenedorModal .cerrarModal {
  position: relative;
  left: -10px;
  bottom: 140px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.contenedorH3-A {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorH3-A h3 {
  position: relative;
  top: -90px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  color: rgba(191, 191, 191, 1);
  border-bottom: 1px solid rgba(191, 191, 191, 1);
  width: 100%;
}

.contenedorModal .cerrarModal:hover {
  color: rgb(255, 152, 18);
}

.contenedorLoginNav-contenido input {
  display: flex;
  align-self: center;
  height: 20px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 16px;    
}

.contenedorR-F {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.contenedorR-F input {
  position: relative;
  top: 5px;
  left: -20px;
  width: 20px;
  height: 20px;
}

.contenedorR-F p {
  position: relative;
  top: 5px;
  left: -20px;
  color: rgb(32, 32, 32);
}

.contenedorR-F a {
  position: relative;
  top: 5px;
  left: 20px;
  color: rgb(32, 32, 32);
  text-decoration: none;
}

.contenedorR-F a:hover {
  color: rgb(255, 152, 18);
  transition: 0.5s;
}

/* CSS Imagenes y texto */

article.medio {
  position: relative;
  top: 220px;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  margin: 10px 8% 100px; 
  max-width: 1000px;
  width: 60%;
  align-self: flex-start;
}

article.contacto {
  background-color: rgb(15, 63, 58, 1);
  padding: 0.5%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
}

.contenedorImagenes {
  display: flex;
  perspective: 1000px;
}

.fondoContenedor {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 2px;
}

figure {
  height: 300px auto;
  width: 300px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.imagen-contenedor {
  margin: 10px;
  max-width: 200px;
  text-align: center;
}

.imagen-contenedor img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

article h2 {
  font-size: 30px;
  letter-spacing: 6px;
  color: rgba(191, 191, 191, 1);
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(191, 191, 191, 1);
  margin-top: 0px;  
}

figcaption {
  background-color: rgba(191, 191, 191, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  height: 300px; 
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  
 
}

figcaption h3 {
  flex-direction: column;
  font-size: 25px;
  color: rgba(18, 114, 105, 1);
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  top: -30px;
  font-style: italic;
  text-transform: capitalize;
}

figcaption p {
  position: relative;
  bottom: 40px;
  font-size: 14px;
  color: rgba(75, 89, 87, 1);
  text-align: justify;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  word-spacing: normal;
}

figcaption p::first-letter {
  font-size: 300%;
  float: left;
  margin-right: 5px;
  line-height: 1;
}


figcaption a {
  position: relative;
  bottom: 30px;
  color: rgba(191, 191, 191, 1);
  font-size: 16px;
  background-color: rgba(15, 63, 58, 1);
  border-radius: 5px;
  padding-inline: 5px;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

}

figcaption a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 152, 18);
  transition: 0.5s;
}

/* Footer */

footer {
  position: relative;
  bottom: -100px;
}

footer a img {
  width: 20px;
  height: 20px;
}

footer a.Facebook {
  position: relative;
  top: 45.9px;
  right: 40px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Instagram {
  position: relative;
  top: 26px;
  right: 74px;
  display: flex;  
  justify-content: flex-end; 
}

footer a.Twitter {
  position: relative;
  top: 6px;
  right: 110px;
  display: flex;  
  justify-content: flex-end; 
}

footer p {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 10px; 
  padding: 2px;
}

p.derechos {
  font-size: 12px;
  color: rgba(191, 191, 191, 1);

}

/* PAGINA DE CONTACTO */

article div.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article h3.contacto {
  color: rgba(191, 191, 191, 1);
  font-size: 25px;
  margin: -3px;
}
article p.intro {
  margin: 0.5px;
  margin-bottom: 5px;
  color: rgba(191, 191, 191, 1);
  
}

article label.contacto {
  color: rgba(191, 191, 191, 1);
  font-size: 20px;
  margin-bottom: 5px;
}

.botonEnviar {
  background-color: rgba(15, 63, 58, 1);
  color: rgba(191, 191, 191, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botonEnviar:hover {
  color: black;
  background-color: rgb(255, 152, 18);
  transition: 0.5s;
}

.preferencia {
  background-color: rgba(15, 63, 58, 1);
  color: rgba(191, 191, 191, 1);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.contacto input {
  border-radius: 10px;
  border: none;
}

.contacto textarea {
  border-radius: 10px;
  border: none;
  width: 400px;
  height: 200px;
}

/* PAGINA DE INFORMACIÓN INSTI */

article.institucional {
  background-color: rgba(75, 89, 87, 1);
}

article a.institucional {
  color: rgb(255, 152, 18);
  text-decoration: none;
  font-weight: bold;
}

article a:hover.institucional {
  text-decoration: underline;
}

article h4.institucional {
  display: flex;
  justify-content: center;
  color: rgba(191, 191, 191, 1);
  font-size: 20px;
  margin-bottom: 5px;
  background-color: rgba(18, 114, 105, 1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-inline: 10px;
}

article p.institucional {
  text-align: center;
  color: rgba(191, 191, 191, 1);
  margin-bottom: 5px;
}

article li.institucional {
  color: rgba(191, 191, 191, 1);
  margin-bottom: 5px;
}
article ul.institucional {
  margin-left: 20px;
  margin-bottom: 10px;
  color: rgba(191, 191, 191, 1);
}


/* equiipo de trabajo */

.equipo {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
}
  

.equipoContenedor {
  flex-wrap: wrap;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  margin: 10px;
}

.equipoMiembro {
  text-align: center;
}

.equipoMiembro img {
  background-color: rgba(18, 114, 105, 1);
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.miembroInfo {  
  color: rgba(191, 191, 191, 1);
  text-align: left;
  text-transform: capitalize;
}

.miembroInfo h5 {
  font-size: 20px;
}

.miembroInfo ul strong {
  color: rgba(18, 114, 105, 1);
}

.miembroInfo ul {
  margin-left: -40px;
  margin-bottom: 10px;
}

/* TARJETAS GIRATORIAS */

.tarjeta {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 20px;
}

.tarjeta .portada {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s
}

.tarjeta .adelante {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.tarjeta .adelante img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta .adelante h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}

.tarjeta .atras {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 44, 54);
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; 
  box-shadow: 0 5px 10px #000;
}

.tarjeta .atras .link {
  border-top: 1px solid rgb(241, 241, 241);
  height: 50px;
  line-height: 50px;
}

.tarjeta .atras h3 {
  white-space: nowrap;
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(241, 241, 241);
  height: 50px;
  line-height: 50px;
}

.tarjeta .atras ul {
  letter-spacing: 1px;
  margin: 5px;
  margin-left: -40px;
  margin-bottom: 10px;

}

.tarjeta:hover .adelante {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}


/* FILTRO ALOJAMIENTOS */

.contenedorFiltroAlojamientos {
  position: relative;
  top: 220px;
}

.filtroAlojamientos {
  display: flex;
  flex-direction: column;
  right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  height: auto;
  background: linear-gradient(to bottom, rgba(15, 63, 58, 1), rgba(18, 114, 105, 1));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.filtroAlojamientos h2 {
  background-color: rgba(18, 114, 105, 1);
  border-radius: 20px;
  padding-inline: 10px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  color: rgba(191, 191, 191, 1);
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.filtroAlojamientos a {
  margin: 5px;
  color: rgba(191, 191, 191, 1);
  margin-right: 10px;
  text-decoration: none;
  
}

.filtroAlojamientos a:hover{
  background-color: rgb(255, 152, 18);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.filtroAlojamientos img {
  filter: brightness(1) invert(1);
  margin: -5px 10px;
  width: 20px;
  height: 20px;
}

.filtroAlojamientos a:hover img {
  filter: brightness(1) invert(0) sepia(1) saturate(5) hue-rotate(30deg); /* REVISAR */
  transition: 0.5s; 
}






/* Color Theme Swatches in RGBA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-rgba { color:   rgba(18, 114, 105, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-rgba { color: rgba(15, 63, 58, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-rgba { color: rgba(137, 165, 162, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-rgba { color: rgba(75, 89, 87, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba { color: rgba(191, 191, 191, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba {color: rgb(241, 241, 241), rgb(235, 66, 15)}

/* SACAR UNDERLINE */